div.container-fluid#taskApp
  div.row
    div.span2.offset5
      div.center
        a#createTask.btn-primary.btn
          i.icon-plus.icon-white
          | &nbsp; Add Task        
  div.row-fluid
    div.span12
    ul.thumbnails#taskList