div.well.task
  a.close &times;
  div.onlyEdit
    form.form-horizontal
      fieldset
        label
          i.icon-tag 
          | &nbsp;
          input.title.span2(type="text", name="title", value="{{title}}")      
        div.control-group.schedule
          label
            i.icon-repeat
            | &nbsp;
            input.schedule.span2(type="text", name="schedule", value="{{schedule}}")
    div.center
      button.btn.btn-primary.save(type="submit") Save
      | &nbsp;
      button.btn.cancel Cancel
  div.notEdit
    div.clickToEdit
      h4.title       
        | {{title}}
      h6.schedule 
        i.icon-repeat
        | &nbsp;{{schedule}}
      div.progress(class="{{progressBarClass}}")
        div.bar(style="width: {{percentageComplete}}%;")  
      h5.last 
        i.icon-fast-backward 
        | &nbsp; 
        time.timeago.lastTime(datetime="{{lastISO}}") {{lastISO}}
      h5.next 
        i.icon-fast-forward
        | &nbsp; 
        time.timeago.nextTime(datetime="{{nextISO}}") {{nextISO}}
    div.center
      a.btn.btn-success.done
        i.icon-check
        | &nbsp;Done